<div id="area-info">
  <div class="row" style="margin-left:0px;margin-right:0px">
    <div class="content scroll-y touch" ontouchmove="onTouchMove(event)" ng-class="{'col-sm-6':hasLocalAttractions,'col-md-6':hasLocalAttractions,'col-md-12':!hasLocalAttractions,'col-lg-6':hasLocalAttractions,'col-lg-12':!hasLocalAttractions,'full':!hasLocalAttractions,'minimized':showingLocalInfo}">
      <div class="title">Area Info</div>
      <div class="subtitle">Destination Highlights</div>
      <p ng-bind-html="areaInfo"></p> <br>
      <div class="subtitle">DIRECTIONS FROM MAJOR AIRPORT TO RESORT</div>
      <p>{{airportDirection}}</p>
    </div>
    <div class="content col-sm-6 col-md-6 col-lg-6" ng-if="hasLocalAttractions" ng-class="{'minimized':showingLocalInfo}">
      <div class="title">Attractions</div>
      <div id="attractions" class="scroll-y touch" ontouchmove="onTouchMove(event)" ng-class="{multipage: localAttractionPageCount>1}">
        <div ng-repeat="attraction in localAttractions track by $index" id="attraction-{{attraction.id}}" class="attraction">
          <h1><a target="_blank" ng-href="{{attraction.url}}">{{attraction.index}}. {{attraction.name}}</a> <div class="attraction-rating pull-right" ng-show="attraction.rating"><div class="attraction-rating-fill" style="width:{{attraction.rating/5*100|number:0}}%"></div></div></h1>
          <p style="clear:both" ng-show="attraction.review">{{attraction.review}}</p>
        </div>
      </div>
      <hr>
      <ul id="paging" class="list-inline" ng-class="{hidden:loadingAttractions}">
        <li><button ng-click="setLocalAttractionPage(0)" ng-disabled="localAttractionPage==0" class="btn btn-link paging-link">&lt;&lt;</button></li>
        <li><button ng-click="setLocalAttractionPage(localAttractionPage-1)" ng-disabled="localAttractionPage==0" class="btn btn-link paging-link">&lt;</button></li>
        <li ng-repeat="page in localAttractionPages track by $index"><button ng-click="setLocalAttractionPage(page)" ng-class="{active:localAttractionPage==page}" class="btn btn-link paging-link">{{page+1}}</button></li>
        <li><button href="#" ng-click="setLocalAttractionPage(localAttractionPage+1)" ng-disabled="localAttractionPage==localAttractionPageCount-1" class="btn btn-link paging-link">&gt;</button></li>
        <li><button href="#" ng-click="setLocalAttractionPage(localAttractionPageCount-1)" ng-disabled="localAttractionPage==localAttractionPageCount-1" class="btn btn-link paging-link">&gt;&gt;</button></li>
      </ul>
      <div> </div>
    </div>
  </div>
</div>
