<div id="phrases" class="page" style="background-color:#fff" hm-swipe-down="showRegionList($root.config.ANIMATION_UP_TO_DOWN)" ng-cloak>
  <div class="header">
    <div class="pull-right"> <span ng-style="{color: region.color}">{{region.title}}</span> </div>
  </div>
  <hr>
  <div id="header" ng-show="!showingLocalInfo">
    <div id="offline-prompt" ng-show="$root.showOfflinePrompt && !online">
      <div class="pull-left">YOU ARE VIEWING THE OFFLINE EDITION. PLEASE CONNECT TO THE WEB TO GET THE LATEST INFO.</div>
      <div class="pull-right" ng-click="$root.showOfflinePrompt = false">
        <div> <span>GOT IT</span> <img src="images/close.png"> </div>
      </div>
    </div>
    <div class="title-bar">
      <div id="title-bar-text" class="pull-left"> <span>Essential Phrases:<br>{{phrases.language}}</span> </div>
    </div>
    <hr> </div>
  <div id="translations">
    <table>
      <thead>
        <tr>
          <td>English
            <td>{{phrases.language}}
              <tbody>
                <tr ng-repeat="translation in phrases.translations">
                  <td>{{translation.transliteration}}
                    <td ng-if="phrases.charset=='iso-8859-1' || translation.translation"> <img src="images/play-icon.png"> <a href="#" ng-click="playAudioAtIndex($index)" ng-style="{color: region.color}">{{translation.transliteration}}</a> <audio id="audio-{{$index}}"> <source ng-src="{{getTranslationSource(translation.mp3)}}"> </audio>
                      <td ng-if="!(phrases.charset=='iso-8859-1' || translation.translation)">{{translation.transliteration}} </table>
  </div>
</div>
<div class="nav-left-bar" ng-style="{backgroundImage: 'url(images/page-left-white.png)', backgroundRepeat: 'repeat-y'}" ng-if="showPreviousRegion"></div>
<div class="nav-right-bar" ng-style="{backgroundImage: 'url(images/page-right-white.png)', backgroundRepeat: 'repeat-y'}" ng-if="showNextRegion"></div> <img class="menu-button" src="images/menu.png" ng-click="$root.showMenu = true" ng-show="!$root.showMenu">
