<div id="region-container"  ontouchmove="event.preventDefault()" class="page" " hm-swipe-left="nextRegion() " hm-swipe-right="previousRegion() " hm-swipe-up="showRegionList($root.config.ANIMATION_DOWN_TO_UP) " ng-controller="RegionController " ng-init="init() " ng-cloak>
  <div id="region-image " class="page " style="background:center; " ng-style="{backgroundImage: 'url(' + $root.baseUrl + 'images/background/' + region.taxonomytermId + '.png)'} "></div>
</div>
<div class="nav-left-bar " ng-style="{backgroundImage: 'url(images/page-left-white.png)', backgroundRepeat: 'repeat-y'} " ng-if="showPreviousRegion "></div>
<div class="nav-right-bar " ng-style="{backgroundImage: 'url(images/page-right-white.png)', backgroundRepeat: 'repeat-y'} " ng-if="showNextRegion "></div> <img class="menu-button " src="images/menu.png " ng-click="$root.showMenu=true " ng-show="!$root.showMenu
  ">
