 
  <div class="row">
  <div class="col-md-12">
  <div id="welcome" class="page" hm-swipe-left="showUserGuidePage($root.config.ANIMATION_RIGHT_TO_LEFT)" hm-swipe-right="showCoverPage($root.config.ANIMATION_LEFT_TO_RIGHT)">
  <img src="./images/background/welcome.png" />
  </div>
  <div class="col-md-12">
  <img src="./images/background/welcome_txt.png" />
  </div>
  </div>
  </div>
   
  <div class="nav-right-bar" ng-style="{backgroundImage: 'url(images/page-right-black.png)', backgroundRepeat: 'repeat-y'}"></div> <img class="menu-button" src="images/menu.png" ng-click="$root.showMenu = true" ng-show="!$root.showMenu">